<?xml version="1.0" encoding="Windows-1252"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<Product 
    Name="Classic Asp Remote Session" 
    UpgradeCode="71038DD5-87F4-4F11-9BC8-61E25732CAEC" 
    Id="513E2089-C776-4F84-A404-B75773AC22CF" 
    Language="1033" 
    Manufacturer="Ultraviolet Catastrophe" 
    Version="1.0">
		<Package Keywords="Installer"
			  Description="Classic Asp Remote Session State"
			  Comments="Classic Asp Remote Session State" Manufacturer="Ultraviolet Catastrophe"
			  InstallerVersion="150" Languages="1033" Compressed="yes" SummaryCodepage="1252" />

		<Property Id="ALLUSERS">1</Property>
		
		<Property Id="NET_FRAMEWORK_INSTALLED">
			<RegistrySearch Id="bffdb5f531" Type="raw"
			  Root="HKLM" Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full" Name="Install" />
		</Property>

    <Condition Message=".NET Framework 4.0 is not installed. Please install it and try again.">
      Installed OR (NET_FRAMEWORK_INSTALLED = "#1" AND NOT Installed)
    </Condition>

		<Media Id="1" Cabinet="RemoteSessionState.cab" EmbedCab="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder" Name="Program Files">

					<Directory Id="INSTALLDIR" Name="Classic Asp Remote Session State">

            <Component Id="d4226d44db" Guid="E041618A-4A8F-4CA1-A2B5-A794A07C61A1">
              <File Id="fil96BD777ADB4C665E0366CBE4515DA951" KeyPath="yes" Source="..\RemoteSessionState\bin\Release\RemoteSessionState.dll" />
              <Class Id="{51D25D7A-75E7-4584-804A-12851D37BB97}" Context="InprocServer32" Description="RemoteSessionState.Interop.RemoteSqlSessionState" ThreadingModel="both" ForeignServer="mscoree.dll">
                <ProgId Id="UltravioletCatastrophe.RemoteSqlSessionState" Description="RemoteSessionState.Interop.RemoteSqlSessionState" />
              </Class>
              <RegistryValue Root="HKCR" Key="CLSID\{51D25D7A-75E7-4584-804A-12851D37BB97}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
              <RegistryValue Root="HKCR" Key="CLSID\{51D25D7A-75E7-4584-804A-12851D37BB97}\InprocServer32\1.0.0.3" Name="Class" Value="RemoteSessionState.Interop.RemoteSqlSessionState" Type="string" Action="write" />
              <RegistryValue Root="HKCR" Key="CLSID\{51D25D7A-75E7-4584-804A-12851D37BB97}\InprocServer32\1.0.0.3" Name="Assembly" Value="RemoteSessionState, Version=1.0.0.3, Culture=neutral, PublicKeyToken=8838a0cb5d7412d8" Type="string" Action="write" />
              <RegistryValue Root="HKCR" Key="CLSID\{51D25D7A-75E7-4584-804A-12851D37BB97}\InprocServer32\1.0.0.3" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
              <RegistryValue Root="HKCR" Key="CLSID\{51D25D7A-75E7-4584-804A-12851D37BB97}\InprocServer32\1.0.0.3" Name="CodeBase" Value="file:///[#fil96BD777ADB4C665E0366CBE4515DA951]" Type="string" Action="write" />
              <RegistryValue Root="HKCR" Key="CLSID\{51D25D7A-75E7-4584-804A-12851D37BB97}\InprocServer32" Name="Class" Value="RemoteSessionState.Interop.RemoteSqlSessionState" Type="string" Action="write" />
              <RegistryValue Root="HKCR" Key="CLSID\{51D25D7A-75E7-4584-804A-12851D37BB97}\InprocServer32" Name="Assembly" Value="RemoteSessionState, Version=1.0.0.3, Culture=neutral, PublicKeyToken=8838a0cb5d7412d8" Type="string" Action="write" />
              <RegistryValue Root="HKCR" Key="CLSID\{51D25D7A-75E7-4584-804A-12851D37BB97}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
              <RegistryValue Root="HKCR" Key="CLSID\{51D25D7A-75E7-4584-804A-12851D37BB97}\InprocServer32" Name="CodeBase" Value="file:///[#fil96BD777ADB4C665E0366CBE4515DA951]" Type="string" Action="write" />
              <RegistryValue Root="HKCR" Key="Component Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Name="0" Value=".NET Category" Type="string" Action="write" />
            </Component>

          </Directory>
			</Directory>
			
		</Directory>
		
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
		<UIRef Id="WixUI_FeatureTree" />

		<Icon Id="InstallerIcon" SourceFile="Resources\Installer.ico" />
		<Property Id="ARPPRODUCTICON" Value="InstallerIcon" />
		
		<Feature Id="e8145db569" Level="1" Title="Classic Asp Remote Session State" Description="Installs the Classic Asp remote session state component.">
			<ComponentRef Id="d4226d44db" />
		</Feature>

	</Product>
</Wix>