<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <sessionState mode="SQLServer" allowCustomSqlDatabase="true" timeout="20" sqlConnectionString="server=localhost;database=ASPNetSessionState;Integrated Security=SSPI" />
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
